$backcolor: rgba(121, 156, 186, 0.25);
$othercolor: hsla(219, 50%, 41%, 1);
$accentcolor: white;
$center: center;
$font: sans-serif;
body{
    background-image: url("images/phone.jpg");
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-x: center;
    margin: 0;
}
.Text{
    text-align: $center;
    font-family: $font;
    margin-top: 10vw;
    background-color: $backcolor;
    padding: 2.5vw;
    margin-left: 25vw;
    margin-right: 25vw;
    border-radius: 5vw;
}
.Links{
    display: flex;
    flex-direction: row;
    background-color: $backcolor;
    font-family: $font;
}
.actuallinks{
    display: flex;
    flex-direction: row;
    // background-color: aqua;
    align-items: $center;
    justify-content: space-between;
    text-align: right;
    padding-left: 50vw;
    a{
        text-decoration: none;
        color: black;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}
.navtext{
    justify-content: center;
    // background-color: aquamarine;
    padding-left: 5vw;
    padding-right: 7.5vw;
    font-size: 1.25vw;
}
.buttons{
    text-align: $center;
    a{
        background-color: $othercolor;
        color: $accentcolor;
        text-decoration: none;
        font-family: $font;
        padding: 1vw;
        font-size: 1.25vw;
        margin: 0vw 1vw;
        border-radius: 1vw;
    }
}
